#button-style {
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}
